@import '../../theme/vars.scss';

.article {
  margin-bottom: 30px;

  > .top {
    width: 632px;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(221, 222, 224);

    .title {
      font-size: 16px;
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
    }

    .head {
      float: left;
      height: 100%;
      max-height: 45px;
      margin-right: 20px;
      margin-left: 10px;
      border-radius: 25px;
    }

    > h3 {
      padding-top: 5px;
      padding-bottom: 5px;

      &:hover {
        color: rgb(237, 68, 65);
        cursor: pointer;
      }
    }

    > .author {
      padding-right: 10px;
    }
  }

  > article {
    text-align: justify;
    font-size: 1.076923077rem; /* 14 / 13 */
    line-height: 1.8;

    .content-image {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    > p {
    margin-bottom: 20px;
    text-align: justify;

      > img {
        width: 100%;
      }
    }
  }

  .read-more {
    float: right;
  }
}
