@import '../../theme/vars.scss';

.foot {
  border-top: 1px solid rgb(221, 222, 224);
  text-align: right;
  height: 70px;

  > * {
    line-height: 24px;
  }

  > span {
    float: left;
  }

  > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  > a:last-child {
    padding-right: 0;
  }
}
