/**
 *  Define scss variables here.
 */

// Custom Colors
$theme-color: #ffd300;
$border-color: #dcdee0;
$font-color: #333;
$font-color-light: #a6aaa9;
$font-color-gray: #999;
$font-size-base: 14px;
$font-family-base: 'PingFangSC-Light', 'Helvetica Neue-Light', 'Helvetica Nenu', Helvetica, 'Microsoft YaHei', Arial, sans-serif;
$font-color-ai: #8e6417;
$vip-color: red;
$color-new: #51a7f9;

// Layout Settings
$layout-footer-height: 40px;
$layout-nav-width: 68px;
$plugin-width: 550px;

// Mobile Layout Settings
$mobile-header-height: 44px;
$mobile-footer-height: 50px;


// Global Style Settings
// $global-font: 16px/1.2 $font-family-base, $font-color;
