@import '../../theme/vars.scss';

$loginWidth: 300;
.login {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $theme-color-light;

  .main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 80%;
    max-width: ($loginWidth)px;
    height: 200px;
    background: transparent;
    margin: auto;
    text-align: center;
  }

  // 登录区域
  .slogan {
    text-align: center;
    color: #fff;
    font-size: 28px;
    padding-bottom: 50px;
  }

  input {
    width: ($loginWidth * 0.8 - 10px);
    // margin-left: ($loginWidth * 0.2)px;
    height: 34px;
    border: 1px solid #f5f5f5;
    margin-bottom: 30px;
    font-size: 16px;
    padding-left: 10px;
    display: block;
    margin: 0 auto 20px;
  }
}
